<!-- CSS only -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@latest/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<!-- Bootstrap JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@latest/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<table>
  <tr>
    <td>&nbsp;&nbsp;</td>
    <td halign="top">
      <a href="/"><img src="https://images.eks.solidrust.net/logos/eve-online-logo.png" height="48" alt="EVE Online" /></a>
    </td>
    <td>&nbsp;&nbsp;</td>
    <td halign="top">
      <strong>SRT Fleet Manager for EVE Online</strong><br>
      <small>There are currently <strong>{{ server_status.data.players }}</strong> players online.<br>
      Tranquility (v.{{ server_status.data.server_version }})</small>
    </td>
    <td>&nbsp;&nbsp;</td>
    <td>&nbsp;&nbsp;</td>
    <td>&nbsp;&nbsp;</td>
    {% if not current_user.is_authenticated %}
    <td>
      <a href="/sso/login"><img src="https://web.ccpgamescdn.com/eveonlineassets/developers/eve-sso-login-white-small.png" alt="Log in with eveonline.com" /></a>
    </td>
  </tr>
</table>
      {% else %}
    <td>
      <h4><a href="https://evewho.com/character/{{ current_user.character_id }}" target="_blank" rel="noopener">{{ current_user.character_name }}</a> [<a href="https://evewho.com/corporation/{{ current_character.data.corporation_id }}" target="_blank" rel="noopener">{{ current_corporation.data.ticker }}</a>] <small>(<a href="/sso/logout">Logout</a>)</small></h4>
      <small>• Birthdate: 
      <strong><script>
        let jsondate = "{{ current_character.data.birthday }}";
          document.write(new Date(jsondate).toLocaleString('en-US', {hour12: false}))
      </script></strong></small><br>
      <small>• Security Status: <strong>{{ current_character.data.security_status }}</strong></small>
    </td>
    <td>&nbsp;&nbsp;</td>
    <td>&nbsp;&nbsp;</td>
    <td>&nbsp;&nbsp;</td>
    <td valign="top">
      <a href="https://images.evetech.net/characters/{{ current_user.character_id }}/portrait?size=512" target="_blank" rel="noopener"><img src="https://images.evetech.net/characters/{{ current_user.character_id }}/portrait?size=64" alt="{{ current_user.character_name }}" /></a>
    </td>
  </tr>
</table>
<h5>Fleet Status • X-UP • Fits • <a href="/redir_skills">Skills</a> • <a href="/redir_implants">Implants</a> • <a href="/redir_pilot">Pilot Dashboard</a></h5>
      {% endif %}