{% extends "base.html" %}
{% block head %}
<head>
<title>404 • Page Not Found</title>
<script language="JavaScript" type="text/javascript">
  var seconds =3;
  var url="/";
  function redirect(){
    if (seconds <=0){
      window.location = url;
    } else {
      seconds--;
      document.getElementById("pageInfo").innerHTML="Redirecting to Home Page after "+seconds+" seconds."
      setTimeout("redirect()", 1000)
    }
  }
</script>
</head>
{% endblock head %}
{% block content %}
<body onload="redirect()">
  {% include 'header-simple.html' %}
  <h3>Oh shit, Something Fucked-up.</h3>
  <p>ERROR: This page does not exist!</p>
  <p id="pageInfo"></p>
</body>
{% include 'footer.html' %}
{% endblock content%}