{% extends "base.html" %}
{% block content %}
{% include 'header.html' %}
{% if not current_user.is_authenticated %}
Welcome, guest!
{% else %}

<table>
<tr>
<td valign="Top">
  <br><br> Some shit about something goes here... Use the links above to navigate.
</td>
</tr>
</table>
<br>
<br>
<hr>
<h5>Debug Area Begin</h5>
<small><div id="time"></div></small>
<small>Demo Mode: <strong>Enabled</strong></small><br>
<br><br>
<br>
<br><br>
<h5>Debug Area End</h5>
<hr>
<br>

{% endif %}
{% include 'footer.html' %}
{% endblock content %}